commands:
  crontab:
    command: |
      printf '*/5 * * * * cd /var/www/html/platform && ./artisan datasource:outgoing >> /dev/null\n*/5 * * * * cd /var/www/html/platform && ./artisan datasource:incoming >> /dev/null\n*/5 * * * * cd /var/www/html/platform && ./artisan savedsearch:sync >> /dev/null\n*/5 * * * * cd /var/www/html/platform && ./artisan notification:queue >> /dev/null\n*/5 * * * * cd /var/www/html/platform && ./artisan webhook:send >> /dev/null\n' | crontab -u webapp -
