files:
  "/var/www/html/platform/.env":
    content: |
      DB_HOST=`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "DATABASE_HOST"}}`
      DB_DATABASE=covid19map
      DB_USERNAME=covid19map
      DB_PASSWORD=`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "DATABASE_PASSWORD"}}`
