commands:
  pecl_curl:
    command: pecl install curl
    test: "php -r \"exit(extension_loaded('curl') ? 1 : 0);\""
  pecl_json:
    command: pecl install json
    test: "php -r \"exit(extension_loaded('json') ? 1 : 0);\""
  pecl_mcrypt:
    command: pecl install mcrypt
    test: "php -r \"exit(extension_loaded('mcrypt') ? 1 : 0);\""
  pecl_mysqli:
    command: pecl install mysqli
    test: "php -r \"exit(extension_loaded('mysqli') ? 1 : 0);\""
  pecl_pdo:
    command: pecl install pdo
    test: "php -r \"exit(extension_loaded('pdo') ? 1 : 0);\""
  pecl_mysql:
    command: pecl install pdo_mysql
    test: "php -r \"exit(extension_loaded('pdo_mysql') ? 1 : 0);\""
  pecl_imap:
    command: pecl install imap
    test: "php -r \"exit(extension_loaded('imap') ? 1 : 0);\""
  pecl_gd:
    command: pecl install gd
    test: "php -r \"exit(extension_loaded('gd') ? 1 : 0);\""
