commands:
  create_post_dir:
    command: "mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/post"
# TODO the keys generated here would be better off as persistent
# configuration secrets. Otherwise cookies etc. get invalidated on
# every push and are not decryptable across a load-balanced pair.
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/complete_setup.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      
      source /opt/elasticbeanstalk/support/envvars
      
      platform_dir='/var/www/html/platform'
      
      mv "$platform_dir"/../htaccess "$platform_dir"/../.htaccess
      chown webapp:webapp "$platform_dir"/../.htaccess
      cat /dev/urandom | LC_ALL=C tr -cd 'A-Za-z0-9_\!\@\#\$\%\^\&\*\(\)-+=' | fold -w 32 | head -1 > "$platform_dir"/.env.app_key
      app_key=$(printf '%q' "$(<"$platform_dir"/.env.app_key)")
      chown webapp:webapp "$platform_dir"/.env.app_key
      chmod 0440 "$platform_dir"/.env.app_key
      
      cat > "$platform_dir"/.env <<EOF
      APP_KEY=$app_key
      APP_TIMEZONE=UTC
      DB_HOST=$DATABASE_HOST
      DB_DATABASE=covid19map
      DB_USERNAME=covid19map
      DB_PASSWORD=$DATABASE_PASSWORD
      EOF
      chown webapp:webapp "$platform_dir"/.env
      chmod 0440 "$platform_dir"/.env
      
      cd "$platform_dir"
      mkdir storage/passport
      php artisan passport:keys
      chown -R webapp:webapp storage/passport
      chmod 770 storage/passport
      chmod 660 storage/passport/*
      
      ./bin/phinx migrate -c phinx.php
