packages:
  yum:
    libmcrypt-devel: []
    libmcrypt: []
    libmemcached-devel: []
    libmemcached: []
    php73-gd: []
    php73-imap: []
    php73-json: []
    php73-pdo: []

commands:
  pecl_mcrypt:
    command: printf '\n' | pecl7 install mcrypt
    test: "php -r \"exit(extension_loaded('mcrypt') ? 1 : 0);\""
  pecl_memcached:
    command: printf '\n\n\n\n\n\n\n\n\n' | pecl7 install memcached
    test: "php -r \"exit(extension_loaded('memcached') ? 1 : 0);\""
