commands:
  create_post_dir:
    command: "mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/post"
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/complete_setup.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      
      source /opt/elasticbeanstalk/support/envvars
      
      platform_dir='/var/www/html/platform'
      
      mv "$platform_dir"/../htaccess "$platform_dir"/../.htaccess
      chown webapp:webapp "$platform_dir"/../.htaccess
      
      cat > "$platform_dir"/.env <<EOF
      APP_KEY=$APP_KEY
      APP_TIMEZONE=UTC
      BACKEND_URL=$BACKEND_URL
      DB_HOST=$DATABASE_HOST
      DB_DATABASE=covid19map
      DB_USERNAME=covid19map
      DB_PASSWORD=$DATABASE_PASSWORD
      MAIL_DRIVER=smtp
      MAIL_HOST=$MAIL_HOST
      MAIL_PORT=587
      MAIL_ADDRESS=api-notifications@safecast.org
      MAIL_NAME=$MAIL_NAME
      MAIL_USERNAME=$MAIL_USERNAME
      MAIL_PASSWORD=$MAIL_PASSWORD
      EOF
      chown webapp:webapp "$platform_dir"/.env
      chmod 0440 "$platform_dir"/.env
      
      # TODO move the commented-out information into an initial setup doc along with permissions/dirs setup for efs
      # cat /dev/urandom | LC_ALL=C tr -cd 'A-Za-z0-9_\!\@\#\$\%\^\&\*\(\)-+=' | fold -w 32 | head -1 > "$platform_dir"/.env.app_key
      # chown webapp:webapp "$platform_dir"/.env.app_key
      # chmod 0440 "$platform_dir"/.env.app_key
      # cd "$platform_dir"
      # mkdir storage/passport
      # php artisan passport:keys
      # chown -R webapp:webapp storage/passport
      # chmod 770 storage/passport
      # chmod 660 storage/passport/*
      
      rm -rf /var/www/html/platform/storage
      ln -sf /efs/covid19map-prd/var/www/html/platform/storage /var/www/html/platform/storage
      
      cd "$platform_dir"
      ./bin/phinx migrate -c phinx.php
